<div
  id="fields-alert"
  class="alert alert-danger custom-alert collapse z-2"
  role="alert"
>
  Please fill out all fields
</div>
<div
  id="login-alert"
  class="alert alert-danger custom-alert collapse z-2"
  role="alert"
>
  Invalid Username or Password
</div>
<div
  id="loginErr-alert"
  class="alert alert-danger custom-alert collapse z-2"
  role="alert"
>
  Failed to log in
</div>
<div
  id="email-alert"
  class="alert alert-danger custom-alert collapse z-2"
  role="alert"
>
  Email must be in proper email format
</div>
<div
  id="username-alert"
  class="alert alert-danger custom-alert collapse z-2"
  role="alert"
>
  Username is already in use
</div>
<div
  id="signup-alert"
  class="alert alert-danger custom-alert collapse z-2"
  role="alert"
>
  Failed to sign up
</div>
<div
  id="logout-alert"
  class="alert alert-danger custom-alert collapse z-2"
  role="alert"
>
  Cannot logout
</div>
<div
  id="budget-alert"
  class="alert alert-danger custom-alert collapse z-2"
  role="alert"
>
  Only need numeric value in budget
</div>
<div
  id="postErr-alert"
  class="alert alert-danger custom-alert collapse z-2"
  role="alert"
>
  Error while trying to retrieve data
</div>
<div
  id="postRetErr-alert"
  class="alert alert-danger custom-alert collapse z-2"
  role="alert"
>
  Error creating post
</div>
<div
  id="deleteErr-alert"
  class="alert alert-danger custom-alert collapse z-2"
  role="alert"
>
  Error in deleteing post
</div>

<div
  id="logout-success"
  class="alert alert-success custom-alert collapse z-2"
  role="alert"
>
  You have been successfully logged out
</div>