 {{!-- About Me Page --}}
<div class="col-12">
    <p class="display-3 text-center">Welcome!
</div>
<div class="container p-2">
    <h1 class="h-1">About Work Remote</h1>
    <p class="lead">Welcome to Work Remote, your gateway to a world of possibilities in the nomadic work life. We
        understand that
        the
        way we work is evolving, and the freedom to choose where and how you work is becoming increasingly important.
        Whether you're a job seeker in search of the perfect remote position or an employer looking to tap into the
        global
        talent pool, Work Remote is here to make your journey smooth and successful.</p>
</div>

<div class="container p-2">
    <h1 class="h-1">For Job Seekers:</h1>
    <p class="lead">At Work Remote, we're dedicated to helping you find remote job opportunities that suit your
        lifestyle and
        career
        goals. Our intuitive job board offers a diverse range of remote positions from companies around the world. You
        can
        filter through these opportunities, ensuring that your next career move aligns perfectly with your skills and
        ambitions. We believe that work should adapt to your life, not the other way around, and our platform is
        designed
        to empower you to take control of your professional journey.</p>
</div>

<div class="container p-2">
    <h1 class="h-1">For Employers:</h1>
    <p class="lead">If you're an employer looking to build a team that spans geographic boundaries, Work Remote is your
        solution.
        Our
        platform allows you to post remote job listings, reaching a global pool of talent. We understand that finding
        the
        right team members is crucial, and we're here to simplify the process for you. Join our platform to tap into the
        vast and diverse talent pool that remote work offers, enabling you to build a stronger and more dynamic
        workforce.
    </p>
</div>

<div class="container p-2">
    <h1 class="h-1">Experience The Freedom:</h1>
    <p class="lead">The beauty of remote work lies in its ability to redefine the way we live and work. Whether you
        dream of
        working
        from a beach, a bustling city, or the comfort of your own home, Work Remote is your bridge to these
        life-changing
        opportunities. We believe that work should fit seamlessly into your life, allowing you to experience new places
        and cultures while pursuing your professional ambitions.
    </p>
</div>

<div class="container p-2">
    <h1 class="h-1">Join the Work Remote Community:</h1>
    <p class="lead">Work Remote isn't just a job platform; it's a community of like-minded individuals who value the
        freedom of
        remote work. Connect with fellow remote workers, share experiences, and gain insights into the nomadic work
        lifestyle. Together, we can create a future where work is not a place but an experience.

        Start your journey with Work Remote today and discover a world of remote work possibilities. We are committed to
        your success, and we look forward to being your partner on this exciting adventure.
    </p>
</div>