body {
  background-image: url('../images/Illustration.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  

}

#logo {
  mix-blend-mode: multiply;
  max-width: 12%;
}

#roundBTN {
  border-radius: 25px;
}

#roundedSquare {
  border-radius: 25px;
}

.custom-alert {
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
}
